apiVersion: v1
kind: Service
metadata:
  name: log-generator
  namespace: demo
  labels:
    app: log-generator
spec:
  selector:
    app: log-generator
  ports:
    - name: http
      port: 80
      targetPort: 8080
  type: ClusterIP
