---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: jenkins

resources:
  - namespace.yaml

helmCharts:
  - name: jenkins
    repo: https://charts.jenkins.io
    version: 5.7.12
    releaseName: jenkins
    namespace: jenkins
    valuesFile: values.yaml
    includeCRDs: true
